body {

    font-family: 'oswald','Open Sans Condensed', sans-serif;
    color: #333;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,255,255), rgba(250, 218, 221));
}

h1 {
    font-size: 2em;
    color: black !important;
    text-decoration: underline;
    margin: 20px auto;
}

form{
    font-family: 'Open Sans Condensed' , Arial, Helvetica, sans-serif !important;
    margin: 20px auto;
    width: 500px;
    background-color: transparent;
    padding-top: 20px;
}   

input {
    display: block;
    padding: 8px 16px;
    font-size: .8em;
    margin: 10px auto;
    width: 75%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}